
@import url(http://fonts.googleapis.com/css?family=Underdog&subset=latin,cyrillic);

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(51, 51, 51);
  color: white;
  font-family: Helvetica, Arial;
}

html, body {
  height: 100%;
}

.svg-wrapper {
  box-sizing: border-box;
  display: inline-block;
}

.fill-w {
  width: 100%;
  min-width: 100%;
}


#logo {
 transform: scale(0.5,0.5);
 -webkit-transform: scale(0.5);
 margin-top: 0%;
}

.stonehead h1 {
  color: white;

  font-family: 'Underdog', cursive;
  font-weight: bolder;
  font-size: 100pt;
  font-size: 15vw;

  text-align: center;
  text-shadow: 6px 6px 0px rgba(0,0,0,0.2);

  margin-bottom: 0;

  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
}

.logo_text {
  position: absolute;

  left: 0;
  top: 5rem;

  width: 100%;
}

.logo_text span {
  display: block;

  font-weight: 100;
  font-size: 10pt;
  font-size: 1.5vw;

  color: rgb(192,192,192);

  text-align: right;
  text-shadow: 2px 2px 0px rgba(0,0,0,0.2);

  margin-top: -10px;

  width: 88%;

}

.content {
  margin-top: -20%;
}

.page-wrap {
  width: 66.6%;
  margin-left: auto;
  margin-right: auto;


  font-size: 14pt;
  font-size: 2.5vw;

  min-height: 100%;

}

.page-wrap:after {
  content: "";
  display: block;
}

.page-wrap p {
  line-height: 133.3%;
  font-weight: lighter;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}


.site-footer, .page-wrap:after {
  height: 50px;
}

footer {
  height: 50px;
}

footer p {
  font-weight: 100;
  font-size: 10px;

  background-color: rgba(128,128,128,0.25);
  color: rgba(255,255,255,0.5);

  padding: .5rem;
  text-align: right;
}

footer .text {
  margin-top: -2%; margin-bottom: -2%; text-align: center;
  color: #fff;
  font-size: 10px;
  font-size: .8vw;

  text-shadow: 2px 2px 0px rgba(0,0,0,0.2);


}

footer .text span {
  font-weight: lighter;
  background-color: rgba(0,0,0,0.2);
  padding: 0.3rem;
  border-radius: 3px;

}

.cover-img {
  image-rendering: pixelated;

  max-width: 100%; width: 100%;

}

.cover-h1-1_2 {
  margin-top: -30%; margin-bottom: 30%; text-align: center;
  font-weight: 900;
  font-size: 48pt;
  font-size: 6vw;
}


.cover-h1-3_4 {
  margin-top: -25%; margin-bottom: 25%; text-align: center;
  font-weight: bolder;
  font-size: 48pt;
  font-size: 6vw;

  color: #fff;

  text-shadow: 6px 6px 0px rgba(0,0,0,0.25);

  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
 }



.nav {
  width: 100%;
  max-width: 100%;

  z-index: 1000;

/*  margin-top: -25%;

  margin-bottom: 25%; */

  margin-left: auto;
  margin-right: auto;

  text-align: center;
}

.nav ul {
  display: inline;
  list-style-type: none;
}

.nav ul li {
  display: inline-block;
  padding: 1rem;
}

a {
  color: #ffffcc;
  border-bottom: 1px solid #ffffcc;
  text-decoration: none;
}

.nav ul a {
  color: #ffffcc;
  font-size: 27pt;

  text-decoration: none;

  line-height: 250%;
  font-weight: bolder;
}

ul {
  margin-left: 2rem;
}

ul li {
  line-height: 150%;
}

ul li small {
  letter-spacing: 3px;
  font-size: 33%;
  font-weight: 100;
  font-variant: small-caps;
  padding: 0;
  position: relative;
  top: -.5rem;
  left: 0;
  display: inline-block;
  line-height: 2.0;

  border-radius: .1rem;
  padding: .1rem;
  background-color: rgba(0,0,0,0.1);
}


.hipster-face {

  font-family: "Andale Mono", monospace;
  font-weight: lighter;

  line-height: 1.0;
  font-size: 1.5vw;
  display: inline-block;
  width: auto;

  text-shadow: 2px 2px 0px rgba(0,0,0,0.2);

}

.verdict {
  padding: 1rem 1rem 0 1rem;
  font-weight: 100;
  font-size: 75%;
}




/* gogol fest */

#gogol-calendar {
  font-family: Helvetica, sans-serif;
  font-size: .8rem;
}


#gogol-calendar header.day {
  font-weight: bolder;


  text-align: center;

  color: white;
  background-color: rgba(0,0,0,.75);

  padding: .5rem;
  letter-spacing: 1px;
  margin-bottom: 0;
}


/* .artdir {
  height: 4rem;
} */

.artdir header.genre {
  text-decoration: underline;

  margin-bottom: .25rem;
  text-align: left;
  background-color: rgba(1,0,0,0.25);
  padding: .5rem;

}




.artdir section > div {
    clear: both;
    margin: 0;
    padding: 0;
}

.group .row {
    height: 3rem;
}

.group .row:nth-child(2n) {
    background-color: rgba(128,128,128,0.05);
}

.artdir section > div > div:not(:first-child) {
  box-sizing: border-box;

    border-width: 0px 0 0px .5rem;
    border-style: solid;
    border-image: linear-gradient(to right, gray 50%, transparent 50%) 1 100%;

}


.artdir section > div > div.pavilion1:not(:first-child) {
    border-image: linear-gradient(to right, lime 50%, transparent 50%) 1 100%;
}

.artdir section > div > div.pavilion2:not(:first-child) {
    border-image: linear-gradient(to right, #4eff86 50%, transparent 50%) 1 100%;
}


.artdir section > div > div.pavilion6:not(:first-child) {
    border-image: linear-gradient(to right, olive 50%, transparent 50%) 1 100%;
}

.artdir section > div > div.pavilion9:not(:first-child) {
    border-image: linear-gradient(to right, #ff8822 50%, transparent 50%) 1 100%;
}

.artdir section > div > div.pavilion10:not(:first-child) {
    border-image: linear-gradient(to right, #dd03ea 50%, transparent 50%) 1 100%;
}

.artdir section > div > div.pavilion11:not(:first-child) {
    border-image: linear-gradient(to right, yellow 50%, transparent 50%) 1 100%;
}


.artdir section > div > div.pavilion13:not(:first-child) {
    border-image: linear-gradient(to right, #9dff27 50%, transparent 50%) 1 100%;
}

.artdir section > div > div.pavilion17:not(:first-child) {
    border-image: linear-gradient(to right, lime 50%, transparent 50%) 1 100%;
}


.artdir section > div > div.pavilion19:not(:first-child) {
    border-image: linear-gradient(to right, #9dff27 50%, transparent 50%) 1 100%;
}

.artdir section > div > div.pavilion21:not(:first-child) {
    border-image: linear-gradient(to right, #9dff27 50%, transparent 50%) 1 100%;
}


.artdir section > div > div.pavilion38:not(:first-child) {
    border-image: linear-gradient(to right, blue 50%, transparent 50%) 1 100%;
}

.artdir section > div > div.pavilion42:not(:first-child) {
    border-image: linear-gradient(to right, black 50%, transparent 50%) 1 100%;
}


.artdir section > div > div.berizky:not(:first-child) {
    border-image: linear-gradient(to right, green 50%, transparent 50%) 1 100%;
}


.artdir section > div > div {
    vertical-align: middle;

    overflow: hidden;

    padding-top: .25rem;
    padding-bottom: .25rem;


    display: block;
	  float:left;

}


.artdir section > div > div:first-child { margin-left: 0; }


.col-0 {
  min-width: 5.5%;
  width: 5.5%;

  margin-right: .5%;
}


.col-1 {
  width: 90%;
  min-width: 90%;

}


.col-2 {
  width: 43.0%;
  min-width: 43.0%;

  margin-right: 1%;

}

.col-3 {
  width: 27%;
  min-width: 27%;

  margin-right: 1%;

}

.col-4 {
  width: 22.5%;
  min-width: 22.5%;
}

.col-5 {
  width: 18%;
  min-width: 18%;
}

.col-6 {
  width: 15%;
  min-width: 15%;

}


.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group {
  zoom:1; /* For IE 6/7 */
  clear: both;
	padding: 0px;
	margin: 0px;
}



.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }

.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


.artdir .link {
  padding-left: .25rem;
  text-decoration: none;
  font-size: small;
  border: 0;
}

.artdir .link:hover {
  font-weight: bolder;

}

.artdir .place {
  display: block;
  color: gray;
  font-weight: lighter;
}


.artdir .time {
  font-weight: 600;

  padding-top: .3rem;
  text-align: right;
}

.map {
  background-color: white;

  width: 100%;
  margin-bottom: 1rem;
}

#map-toggle {
  position: fixed;
  right: 1rem;
  top: 1rem;

  background-color: rgba(0,0,0,.25);
  padding: .5rem;
  border-radius: .1rem;
}

.filters {
  margin-left: 1%;
  margin-right: 1%;

}

.filter {
    display: inline-block;
    margin-right: 1%;
    vertical-align: top;
    margin-bottom: 1%;
    padding: .5rem;
}

.filter:not(:first-child) {
  background-color: rgba(1,0,0,0.1);
  border-radius: .25rem;

  cursor: pointer;
  font-weight: bolder;

}

.filter.toggled {
  background-color: rgba(1,0,0,0.75);
}



.artdir .place, .artdir .price { font-size: .9vw; }
.artdir .time { font-size: 0.9vw; margin-top: 1vw; }
.artdir section > div > div { font-size: 1.5vw; }

#gogol-calendar header.day { font-size: 2.0vw;}


.artdir section > div > div:hover {
  outline: 1px solid rgba(255,255,255,.75);
}
